{% extends "head.html" %}

{% block content %}
<div class="empty-line">

<title> 人工知能課題 </title>    
<h1> Artificial Intelligence assignment submission<h1>


<br>


<h2> 6/10日提出</h2>
<br>
<p><a href="https://6536-150-99-196-194.ngrok-free.app/aicode/">コードはこちら</a></p>
<br>



<div class="eventcard_group">

<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">2023/6/10提出分</div>
  <div class="card-body">
    <h4 class="card-title">課題１</h4>
    <p class="card-text">線形回帰
   <br>
  </div>

<div class="syousai" align="center">
<a href="/tyokusen">
    <button type="button" class="btn btn-primary btn-sm">詳細</button>
</a>
</div>
</div>
</div>



<div class="eventcard2">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">2023/6/10提出分</div>
  <div class="card-body">
    <h4 class="card-title">課題２</h4>
    <p class="card-text">多項式、RBFネットワーク
  </div>

<div class="syousai" align="center">
<a href="/kyokusen">
    <button type="button" class="btn btn-primary btn-sm">詳細</button>
</a>
</div>
</div>
</div>

<div class="eventcard3">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">2023/6/10提出分</div>
    <div class="card-body">
      <h4 class="card-title">課題3</h4>
      <p class="card-text">多層パーセプトロン<br>ロードに時間がかかります
    </div>
  
  <div class="syousai" align="center">
  <a href="/kadai3">
      <button type="button" class="btn btn-primary btn-sm">詳細</button>
  </a>
  </div>
  </div>
  </div>

  </div>

<br><br><br><br>

  <h2> 7/18日提出</h2>
  <br>
  <p><a href="https://6536-150-99-196-194.ngrok-free.app/aicode/#/2">コードはこちら</a></p>
  <br>
  
  
  

  <div class="eventcard_group">

  <div class="eventcard1">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">2023/7/18提出分</div>
    <div class="card-body">
      <h4 class="card-title">課題１</h4>
      <p class="card-text">最尤・ベイズ推定
     <br>
    </div>
  
  <div class="syousai" align="center">
  <a href="/saiyu">
      <button type="button" class="btn btn-primary btn-sm">詳細</button>
  </a>
  </div>
  </div>
  </div>
  
  
  
  <div class="eventcard2">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">2023/7/18提出分</div>
    <div class="card-body">
      <h4 class="card-title">課題２</h4>
      <p class="card-text">RBFネットワーク＋ベイズ推定
    </div>
  
  <div class="syousai" align="center">
  <a href="/rbfbeizu">
      <button type="button" class="btn btn-primary btn-sm">詳細</button>
  </a>
  </div>
  </div>
  </div>

  </div>

  <br><br>

  <h2> 7/25日提出</h2>
  <br>
  <p><a href="https://6536-150-99-196-194.ngrok-free.app/aicode/#/3">コードはこちら</a></p>
  <br>
  
  
  

  <div class="eventcard_group">

  <div class="eventcard1">
  <div class="card border-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">2023/7/25提出分</div>
    <div class="card-body">
      <h4 class="card-title">課題１</h4>
      <p class="card-text">TD学習法
     <br>
    </div>
  
  <div class="syousai" align="center">
  <a href="/meiro">
      <button type="button" class="btn btn-primary btn-sm">詳細</button>
  </a>
  </div>
  </div>
  </div>

  </div>


  <br><br><br><br>


</div>
{% endblock %}

